body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: papayawhip;
    overflow: auto;
}

section {
    border: 2px;
    width: 90vw;
    margin: 5em auto;
}

.div1 {
    border-radius: 5px;
    background-color: white;
    font-size: 2.8em;
    font-weight: bold;
    line-height: 1.5;
    padding: .5em;
    text-align: center;
}