body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: papayawhip;
    overflow: auto;
}

section {
    border: 2px black;
    width: 90vw;
    margin: 5em auto;
    // overflow: auto;
}

.div1 {
    border-radius: 5px;
    background-color: white;
    font-size: 2.8em;
    font-weight: bold;
    line-height: 1.5;
    padding: .5em;
    text-align: center;
}

.content {
    position: relative;
    display: block;
    width: 100vw;
    height: 150vh;
    overflow: auto;
}

.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}

.scroll {
    min-width: 100%;
}

#content2 {
    width: -webkit-max-content;
    width: max-content;
}

.example-section {
    margin: 30px;
    // display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    height: 10px;
    // width: 100px;
}

.div2 {
    text-align: center;
    align-content: center;
    align-items: center;
}

.example-margin {
    margin: 0 20px;
    align-self: center;
}