<ion-header>
    <ion-toolbar color="primary" style="padding: 0; padding-top: 1vh;">
        <ion-title class="font-italic">Mapa</ion-title>
    </ion-toolbar>
</ion-header>
<div id="map">
    <agm-map [latitude]="lat " [longitude]="lng " [zoom]="14 ">
        <agm-marker *ngFor="let marcador of marcadoresBase " [latitude]="marcador.latitud " [longitude]="marcador.longitud ">
            <agm-polygon *ngFor="let poligono of poligonos " [paths]="poligono.paths " [fillColor]="poligono.colorFilo " [fillOpacity]="0.03 " [strokeColor]="poligono.color "></agm-polygon>
            <agm-info-window>
                <p>
                    <strong>Sector:</strong> {{marcador.ubicacion}}
                </p>
                <p>
                    <strong> Latitud:</strong> {{marcador.latitud}} <strong> Longitud:</strong> {{marcador.longitud}}
                </p>
                <p>
                    <strong>Indice UV:</strong> {{marcador.uv}}
                </p>
                <p>
                    <strong>Fecha y Hora:</strong> {{marcador.hora}}
                </p>
                <u style="color:blue " routerLink="/tabs/tab2">Ver mas.. </u>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>