agm-map {
    position: relative;
    height: 88vh; // 90 permite abordar las pages y el header de la page 1 y ver todo el mapa completo
    top: 0;
}

.material-card {
    position: relative;
    padding: 0%;
    border: 0%;
}